@media screen and (max-width:1000px) {
   nav{
        flex-direction: column;
    }

    nav ul{
        justify-content: center;
        height: 34px;
    }

    .logo{
        justify-content: center;
        margin: 12px 0;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 12px 16px;
    }
}