@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.root {
    --main-bg-color: #2874f0;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(18, 131, 223);
    font-family: 'Lato', sans-serif;
}
  .container{
      min-height: calc(100vh - 58px - 12vh);
  }
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 125px;
}
nav{
    display: flex;
}
nav ul{
      height: 78px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
nav ul li{
    list-style: none;
/*     padding: 0 28px; */
    justify-content: center;
}
 nav ul li a{
     color: white;
     text-decoration: none;
     font-weight: bolder;
 }
 nav ul li a:hover{
     color: rgb(255, 182, 47);
 }
 .fas{
      color: white;
      padding: 0 15px;
  }

 .search{
     display: flex;
     align-items: center;
 }
 .search input{
     height: 30px;
     width: 490px;
     border-radius: 9px;
     margin: 0 16px 0 16px;
     padding: 0 12px;
 }
 .search button{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 20px;
 }
footer{
    height: 12vh;
    background-color:  rgb(62, 124, 206);;
    color: white;
    font-family: 'Lato', sans-serif;
}
.slider{
    margin: 12px auto;
    width: 80vw;
}
.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Lato', sans-serif;
}
 .cards{
     display: flex;
    overflow: hidden;
 }
 .card h2{
    font-family: 'Lato', sans-serif;
 }
.card-items{
  display:inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15px;
}
